@font-face {
    font-family: 'OpenSans-Bold';
    src: url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./assets/fonts/OpenSans.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Quickbrush';
    src: url("./assets/fonts/Quickbrush.otf") format('opentype');
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}


:root {
    --primary-background-color: #f1b4c6;
    --secondary-background-color: #f1b4c6;
    --primary-color: #ffc7c1;
    --secondary-color: #233e2b;
    --accent-color: #6ab1aa;
    --accent-color-yellow: #FDB84F;
    --dark-color: #333;
    --light-color: #fff;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'OpenSans-Bold';
    font-size: 64pt;
}

h2 {
    font-family: 'OpenSans-Bold';
}

h3 {
    font-family: 'OpenSans-Bold';
    font-weight: 600;
}

h4 {
    font-family: 'OpenSans-Bold';
    font-weight: 600;
}

h5 {
    font-family: 'OpenSans';
    color: var(--dark-color);
}

sub {
    font-family: 'OpenSans';
    font-style: italic;
    font-size: 14pt;
    margin-bottom: 40px;
    white-space: nowrap;
}

.italic {
    font-family: 'OpenSans';
    font-style: italic;
}

p,
li {
    font-family: 'Roboto';
    font-size: 14pt;
}

a {
    color: var(--dark-color)
}

a:hover {
    color: var(--accent-color);
}

a:visited {
    color: var(--dark-color);
}

footer a {
    color: var(--light-color);
}

footer a:hover {
    color: var(--accent-color);
}

footer a:visited {
    color: var(--light-color);
}

header {
    color: var(--light-color);
    background-color: var(--primary-background-color);
}

nav {
    background-color: var(--secondary-color);
    border-bottom: solid 20px var(--primary-background-color);
}

#CallToAction,
#Missie,
#Content-Drawer
header,
.section-banner,
footer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.header-title-container {
    height: 180px;
    padding: 20px;
}

.header-socials-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    align-items: end;
}

.align-center {
    align-items: center;
}

.header-socials-container img {
    width: 30px;
    height: 30px;
}

.subtitle {
    position: absolute;
    transform: translateX(64px) translateY(-50px);
    font-family: 'Quickbrush';
    font-size: 36pt;
    color: var(--dark-color);
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 60px;
}

.nav-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-element a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 16pt;
}

.diamond {
    width: 12px;
    height: 12px;
    background-color: var(--accent-color);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.primary-nav-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1;
}

.color-primary {
    color: var(--primary-color);
}

.subtitle-name {
    color: var(--dark-color);
    padding-right: 40px;
    font-family: 'Quickbrush';
    font-size: 24pt;
}

.justify-right {
    justify-content: end !important;
}

.primary-nav-container:first-child {
    margin-right: 20px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-signature {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.about-title {
    color: var(--secondary-color);
    font-size: 48pt;
    font-weight: 700;
    padding: 0px;
}

.about-subtitle {
    position: relative;
    transform: translateY(-90px);
    color: var(--dark-color);
    font-family: 'Quickbrush';
    font-size: 24pt;
    text-align: center;
    padding: 20px;
}

.about-image {
    width: 100%;
    height: 550px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.about-image img {
    margin: 10px;
    width: 309px;
    height: 550px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

main {
    position: relative;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

main span {
    margin: 20px 0px;
    padding: 50px 0px;
}

#Missie,
#Advies {
    background-color: var(--secondary-background-color);
    color: var(--dark-color);
}

#Content-Drawer {
    position: relative;
    top: -40px;
    width: 100%;
    z-index: 100;
    background-color: var(--secondary-color);
    color: var(--light-color);
}

footer {
    margin-top: auto;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 40px;
    text-align: center;
}

.rel-col {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50px);
    min-height: 300px;
    overflow: hidden;
}

.background-blend {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), 0%, rgba(255, 255, 255, 0) 50px);
}

/* .rel-col img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: 100%;
    object-fit: contain;
} */

.diamond-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.quote-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    color: var(--dark-color);
    min-height: 330px;
    padding: 20px;
    padding-top: 40px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--accent-color);
    border: 2px solid var(--accent-color);
}

#CallToAction {
    background-color: var(--accent-color);
}

button {
    background-color: var(--accent-color-yellow) !important;
    border-color: var(--accent-color-yellow) !important;
}

.quote-icon {
    width: 100px;
    height: 100px;
}

.quote-card img {
    position: absolute;
    top: -54px;
}

.footer-title-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-title-container h2 {
    font-family: 'Quickbrush';
    font-size: 36pt;
}

.footer-title-container .subtitle {
    transform: translateX(64px) translateY(40px);
    font-size: 24pt;
    color: var(--dark-color);
}

.footer-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.footer-bottom {
    margin-top: 40px;
    text-align: left;
}

.footer-bottom p {
    font-size: 10pt;
}

.footer-section h4 {
    margin-bottom: 40px;
}

.active-nav {
    border-bottom: 2px solid var(--accent-color);
}

.padding-20 {
    padding: 20px;
}

.footer-section p {
    margin: 0px;
}

.footer-section img {
    width: 24px;
    height: 24px;
}

.justify-end {
    justify-content: end;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

#Coaching-Button,
#Advies-Button,
#Deskundigheidsbevordering-Button {
    cursor: pointer;
}


.margin-bottom-20 {
    margin-bottom: 20px;
}

.custom-border-bottom {
    border-bottom: 2px solid var(--secondary-color);
}

.methodiek-container {
    margin-top: 50px;
}

.quote-subtitle {
    margin-top: 10px;
    width: 100%;
    text-align: right;
    color: #777;
    font-style: italic;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-navigation {
    width: 48px;
    height: 48px;
}

#carouselContent {
    flex-grow: 1;
}

.carousel-navigation button {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #00000000 !important;
}

.carousel-navigation button:hover {
    border: none;
    background-color: #00000033 !important;
}

form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

form .row {
    margin: 20px 0px;
}

form .row label {
    font-family: 'OpenSans-Bold';
    font-size: 12pt;
}

textarea {
    height: 200px;
}

.section-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--accent-color);
    padding: 10px 0px;
    margin-bottom: 30px;
}

.section-banner h3 {
    margin: 0px;
}

.carousel-hidden {
    display: none;
}

button,
input[type="submit"] {
    background-color: var(--accent-color) !important;
    color: var(--light-color) !important;
    border: none !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#carouselContentAdvies {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

.inverse-row {
    flex-direction: row-reverse;
    text-align: left;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.services-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-container .col-md-8 {
    margin: auto 0px;
}

.divider {
    height: 1px;
    background-color: #00000022;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.carousel-inner {
    padding: 0px 80px;
}

.carousel-controls {
    max-width: 1300px;
    position: absolute;
    top: 50%;
}

.carousel-control-next,
.carousel-control-prev {
    width: 64px;
    height: 64px;
    margin: auto 0px;
}

#navButton {
    display: none;
}

#Content-Drawer h3{
    margin-bottom: 30px;
}

.pos-relative {
    position: relative;
}

#messageContainer {
    background-color: var(--accent-color);
    border-bottom: solid 2px var(--secondary-color);
    color: var(--light-color);
}

#messageContainer div {
    margin: 0px auto;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#messageContainer div a{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#messageContainer div p {
    margin: 0px;
}

.ebook-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.ebook-content h4{
    padding-top: 28px;
}

#Contact .section-banner {
    border-top: 40px solid #f1b4c6
}

#Contact .container {
    border: solid 1px #6ab1aa;
    padding-top: 20px;
    background: white;
}

/* For medium screens (>=768px) */
@media (min-width: 768px) {}

@media (max-width: 767px) {

    h1 {
        font-size: 48pt;
    }

    .about-image {
        margin-top: 50px;
    }

    .subtitle {
        transform: translateX(64px) translateY(-50px);
        font-size: 28pt;
    }

    .header-socials-container {
        display: none;
    }

    .header-title-container {
        padding-left: 0px;
        height: 140px;
    }

    .nav-row {
        display: grid;
        grid-template-columns: auto auto 1fr; /* Home | Flexible space | Contact */
        grid-template-rows: auto min-content; /* Two rows */
        gap: 0px;
    }

    .primary-nav-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
    }

    .contact-nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        grid-row: 1;
        grid-column: 2;
        margin-left: 20px;
    }

    .carousel-inner {
        padding: 0px 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: static;
        margin-bottom: 0px;
    }

    #navButton {
        display: flex;
        flex-direction: row;
        justify-content: end;
        grid-row: 1;
        grid-column: 3;
    }

    #navButton button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .carousel-controls {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .quote-card h5 {
        font-size: 14pt;
    }

    .footer-section p {
        font-size: 12pt !important;
    }

    footer .row {
        gap: 20px;
    }

    .footer-section h4 {
        margin-bottom: 20px;
    }

    form .row {
        gap: 20px;
    }
}